.open{
    transform: translateY(0);
}
.container{
    flex-flow: column wrap;
    width: 100%;
}
header{
    flex: 1 1 100%;
    width: 100%;
    height: 60px;
    z-index: 500;
}
header img{
    width: 20%;
}
header #desktop-menu{
    display: none;
}
#menu-button{
    display: block;
    border: none;
    height: 40px;
    width: 40px;
    background: none;
    margin-top: 1%;
    margin-right: 5%;
    margin-bottom: 1%;
    background-image: url(/images/hamburger-menu-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.mobile-menu{
    display: flex;
    width: 500px;
    height: 100vh;
    flex-flow: row wrap;
    transform: translateY(-200%);
    border: 1px solid;
    transition: 0.3s ease-in-out;

}
.intro{
    flex:1 1 100%;
    width: 100%;
    height: 100vh;
    padding-top: -50%;
    padding-bottom: 60%;
    /* border: 1px solid; */
    margin-bottom: 15%;
}
.company-name{
    flex: 1 1 100%;
    display: inline;
    font-size: 96px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50%;
}
#intro-right{
    display: none;
}
.mobile-moto{
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    height: 80px;
    background-color: #E85D00;
    color:white;
    font-size: 30px;
    align-items: center; 
    justify-content: center;
}
.info{
    flex: 1 1 100%;
    width: 100%;
    flex-flow: column wrap;
    text-align: justify;
}
.info img{
    flex: 0 0 35%;
    width: 100%;
    margin-right: 4%;
}
.info:nth-child(2n) img{
    margin-right: -4%;
    margin-left: 4%;
}
.info p{
    text-align: justify;
    margin-left: 0;
    font-size: 36px;
}
footer{
    flex: 1 1 100%;
    width: 100%;
    flex-flow: column wrap;
}
.logos{
    flex: 1 1 100%;
    width:100%;
    display: flex;
    flex-flow: row wrap;
}
.logos #footer-logo{
    flex: 1 1 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.logos img{
    flex: 0 0 15%;
    width: 50%;
}
.logos img:nth-child(2){
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.text-info{
    flex: 1 1 100%;
    width: 100%;
    flex-flow: row wrap;
}
.text-info span{
    flex: 1 1 100%;
    order: 1;
}
.text-info a{
    order: 0;
}