@font-face {
  font-family: 'Sansation';
  src: url(../fonts/Sansation-Light.ttf);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  font-family: Sansation, sans-serif;
  padding: 0;
}
#menu-button{
  display: none;
}
.mobile-menu{
  display: none;
}
.mobile-moto{
  display: none;
}
.container {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  width: 100%;
}

header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid hsl(0, 0%, 70%);
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  font-size: 24px;
}

header img {
  width: 6%;
  margin-left: 1%;
}

header ul {
  flex: 1 1 30%;
  margin-left: 48%;
  margin-top: 1%;
}

header ul li {
  display: inline-block;
  /* text-decoration: none; */
  margin-right: 6%;
}

header ul li a {
  text-decoration: none;
  color: black;
}

header ul li a:hover {
  text-decoration: underline;
}

.intro {
  flex: 1 1 100%;
  width: 100%;
  margin: 0;
  height: 100vh;
  /* border: 1px solid; */
  margin-top: 5%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 0;
}

/* #intro-left{
  flex: 1 1 20%;
  z-index: 0;
} */
.company-name {
  z-index: 100;
  /* display: inline; */
  font-size: 96px;
  margin-top: 8%;
  margin-left: 5%;
}

#intro-right {
  flex: 1 1 40%;
  margin-left: 5%;
  margin-right: 0;
}

.info {
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  font-size: 48px;
  margin-bottom: 5%;
}
.info img{
  flex: 0 0 10%;
  width: 252px;
  height: 137px;
  flex-shrink: 0;
}
.info p{
  flex: 1 1 60%;
  margin-left: 5%;
  margin-top: 1%;
}

.info .company-info {
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.info .dev-products{
  margin-top: 5%;
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.info .team{
  margin-top: 5%;
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.info .money{
  margin-top: 5%;
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
footer{
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background: #4C4C4C;
  color: white;
  margin-bottom: 1%;
  padding-bottom: 5%;
}
.logos{
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.logos #footer-logo{
  flex: 0 0 20%;
  width: 20%;
  font-size: 64px;
  color: white;
  margin-left: 1%;
  display: block;
}
.logos img{
  flex: 0 0 5%;
  width: 5%;
}
.logos img:hover{
  cursor: pointer;
}
.logos img:nth-child(2){
  margin-left: 40%;
}
.logos img:nth-child(3),.logos img:nth-child(4),.logos img:nth-child(5){

  margin-left: 5%;
}
.text-info{
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.text-info span{
  flex: 1 1 20%;
  display: inline-block;
  font-size: 24px;
  margin-top: 5%;
  margin-left: 1%;
}
.text-info a{
  flex: 1 1 10%;
  display: inline-block;
  font-size: 24px;
  text-decoration: none;
  color: white;
  margin-top: 5%;
}
.text-info a:hover{
  text-decoration: underline;
}
/* .company-info img {
  flex: 0 0 10%;
  width: 252px;
  height: 137px;
  flex-shrink: 0;
}

.company-info p {
  flex: 1 1 60%;
  margin-left: 5%;
  margin-top: 1%;
} */