.container{
    flex-flow: column wrap;
}
header{
    flex: 1 1 80%;
    margin-left: -5px;
    margin-right: -5px;
    width: 90%;
}
header nav{
    display: none;
}
header span{
    display: inline;
}
#hamburger-menu{
    display: block;
}
.about{
    display: flex;
    flex-flow: column wrap;
    margin-left: 0;
}
.about img{
    order: 1;
    width: 70%;
    margin-left: 10%;
}
.about p{
    text-align: center;
}
.team{
    display: flex;
    flex-flow: column wrap;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    margin-left: 0;
}
.team h3{
    text-align: center;
}
.fili{
    flex: 1 1 100%;
    width: 100%;
    margin-top: 5%;
    margin-bottom:5% ;
}
.kach{
    flex: 1 1 100%;
    width: 100%;
    margin-left:0 ;
    margin-bottom: 5%;
}
.osos{
    flex: 1 1 100%;
    width: 100%;
    margin-left: 0;
    margin-bottom: 5%;
}
.miron{
    flex: 1 1 100%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.korobov{
    flex: 1 1 100%;
    width: 100%;
    margin-left: 0;
    margin-bottom: 5%;
}
.zhuk{
    flex: 1 1 100%;
    width: 100%;
    margin-left: 0;
    margin-bottom: 5%;
}
.projects{
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-left: 0;
}
.proj1 img{
    width: 75%;
    margin-left: 11%;
}
footer{
    width: 100%;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
}