.container{
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
}
header{
    width: 100%;
}
header h1{
    margin-left: 5px;
}
header a{
    display: none;
}
.about{
    width: 100%;
}
.about h2{
    margin-left: 38%;
}
.about>div img{
    width: 250px;
}
.about>div p{
    text-align: left;
}
.team{
    width: 100%;
}
.team h2{
    margin-left: 22%;
}
.fili{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 0;
    width: 100%;
}
.fili p:first-child{
    order: 1;
    flex: 1 1 100%;
}
.fili img{
    width: 75%;
    flex: 1 1 100%;
    order: 2;
    margin-left: auto;
    margin-right: auto;
}
.fili p:nth-child(3){
    order: 3;
    flex: 1 1 100%;
}
.kach{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    width: 100%;
}
.kach img{
    width: 75%;
    flex: 1 1 100%;
    margin-left: auto;
    margin-right: auto;
}
.osos{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    width: 100%;
}
.osos img{
    width: 75%;
    flex: 1 1 100%;
    margin-left: auto;
    margin-right: auto;
}
.miron{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 0;
    width: 100%;
}
.miron img{
    width: 75%;
    flex: 1 1 100%;
    margin-left: auto;
    margin-right: auto;
}
.korobov{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
}
.korobov img{
    width: 75%;
    flex: 1 1 100%;
    margin-left: auto;
    margin-right: auto;
}
.zhuk{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 0;
}
.zhuk img{
    width: 75%;
    flex: 1 1 100%;
    margin-left: auto;
    margin-right: auto;
}
.projects{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.projects h2{
    margin-left: 22%;
}
.proj1 img{
    width: 75%;
    flex: 1 1 100%;
    margin-left: auto;
    margin-right: auto;
}
.contact{
    width: 100%;
}
.contact h2{
    margin-left: 21%;
}
footer{
    width: 100%;
}