body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2EFE9;
  }  
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}
.about{
    flex: 1 1 100%;
}
.about div{
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #E84A27;
  border-radius: 5px;
  padding: 20px;
  height: 300px;
  margin: 20px 5px 20px 5px;
}

.team>div{
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #E84A27;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 5px 20px 5px;
}
.about h2{
    margin-left: 5px;
}
.about div h3{
    margin-top: 0;
    margin-bottom: 0;
    order: 1;
    flex: 1 1 100%;
}
.about div p{
    margin-top: 0;
    flex: 1 1 10%;
    order: 2;
}
.about div img{
    width: 350px;
    order: 3;
    flex: 0 0 ;
    margin-right: 0;
}
.team{
    flex: 1 1 100%;
}
.team h2{
    margin-left: 5px;
}
.team div h3{
    flex: 1 1 100%;
    order: 1;
    margin-bottom: 20px;
    margin-top: 0px;
}
.fili{
    width: 400px;
    border: 1px solid #E84A27;
    border-radius: 5px; 
    height: 500px;
    order: 2;
    margin-left: 4%;

}
.fili  p:first-child{
    margin-top: 5px;
    text-align: center;
}
.fili p:nth-child(3){
    text-align: center;
    color: rgb(88, 82, 82);
    margin-left: 5px;
    margin-right: 5px;
}
.fili img{
    width: 250px;
    margin-left: 18%;
}
.kach{
    width: 400px;
    border: 1px solid #E84A27;
    border-radius: 5px; 
    height: 500px;
    order: 3;
    margin-left: 5% ;
}
.kach p:first-child{
    margin-top: 5px;
    text-align: center;
}
.kach p:nth-child(3){
    text-align: center;
    color: rgb(88, 82, 82);
    margin-left: 5px;
    margin-right: 5px;
}
.kach img{
    width: 250px;
    margin-left: 18%; 
}
.osos{
    width: 400px;
    border: 1px solid #E84A27;
    border-radius: 5px; 
    height: 500px;
    order: 4;
    margin-left: 5% ;
}
.osos p:first-child{
    margin-top: 5px;
    text-align: center;
}
.osos p:nth-child(3){
    text-align: center;
    color: rgb(88, 82, 82);
    margin-left: 5px;
    margin-right: 5px;
}
.osos img{
    width: 250px;
    margin-left: 18%; 
}

.team>div h3:nth-child(5){
    flex: 1 1 100%;
    order: 5;
    margin-top: 10px;
    margin-bottom:20px;
}
.miron{
    width: 400px;
    border: 1px solid #E84A27;
    border-radius: 5px; 
    height: 500px;
    order: 6;
    padding-bottom: 10px;
    margin-left: 4%;
}
.miron p:first-child{
    margin-top: 5px;
    text-align: center;
}
.miron p:nth-child(3){
    text-align: center;
    color: rgb(88, 82, 82);
    margin-left: 5px;
    margin-right: 5px;
}
.miron p:nth-child(4){
    text-align: center;
    color: rgb(88, 82, 82);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 0;
}
.miron img{
    width: 250px;
    margin-left: 18%;   
}
.korobov{
    order: 7;
    width: 400px;
    border: 1px solid #E84A27;
    border-radius: 5px; 
    height: 500px;
    padding-bottom: 10px;
    margin-left: 5%;
}
.korobov p:first-child{
    text-align: center;
    margin-top: 5px;
}
.korobov img{
    width: 250px;
    margin-left: 18%;
}
.korobov p:nth-child(3){
    text-align: center;
    color: rgb(88, 82, 82);
    margin-left: 5px;
    margin-right: 5px;
}
.korobov p:nth-child(4){
    text-align: center;
    color: rgb(88, 82, 82);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 0;
}
.zhuk{
    order: 8;
    width: 400px;
    border: 1px solid #E84A27;
    border-radius: 5px; 
    height: 500px;
    padding-bottom: 10px;
    margin-left: 5%;
}
.zhuk p:first-child{
    text-align: center;
    margin-top: 5px; 
}
.zhuk img{
    width: 250px;
    margin-left: 18%;
}
.zhuk p:nth-child(3){
    text-align: center;
    color: rgb(88, 82, 82);
    margin-left: 5px;
    margin-right: 5px;
}
.zhuk p:nth-child(4){
    text-align: center;
    color: rgb(88, 82, 82);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 0;
}
.projects>div{
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #E84A27;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 5px 20px 5px;
}
.projects{
    flex: 1 1 100%;
}
.proj1{
    width: 100%;
    border: 1px solid #E84A27;
    border-radius: 5px; 
    /* height: 500px; */
    padding-bottom: 10px;
    /* margin-left: 5%; */
}
.proj1 p:first-child{
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
}
.proj1 a{
    text-decoration: underline;
    color: black;
}
.proj1 img{
    width: 250px;
    margin-left: 41%;
    margin-top: 20px;
}
.proj1 p:nth-child(3){
    text-align: center;
    color: rgb(88, 82, 82);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 20px;
}

header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    flex: 1 1 100%;
    background-color: #E84A27;
    color: #fff;
    padding: 20px;
    height: 60px;
}
header h1 {
    flex:1 1 100%;
    margin: 0;
    padding: 0;
  }
a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
}
.contact>div{
    /* display: flex;
    flex-flow: row wrap; */
    border: 1px solid #E84A27;
    border-radius: 5px;
    padding: 20px;
    flex: 1 1 100%;
    margin: 20px 5px 20px 5px;
}
.contact{
    flex: 1 1 100%;
}
.contact h2{
    margin-left: 5px;
}
.contact>div p{
    text-align: center;
    color: rgb(88, 82, 82);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.contact>div a{
    text-decoration: underline;
    color:rgb(88, 82, 82) ;
}
footer{
    /* display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap; */
    flex: 1 1 100%;
    background-color: #E84A27;
    /* color: #fff; */
    padding: 20px;
    height: 60px;
}
footer p:first-child{
    color: white;
    text-align: center;
}