body {
  font-family: Arial, sans-serif;
  /* margin: 0;
  padding: 0; */
  background-color: #F2EFE9;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  /* position: sticky; */
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
  background-color: #E84A27;
  color: #fff;
  padding: 20px;
  /* height: 60px; */
  /* width: 100%; */
}
/*  code for hamburger menu  */

#hamburger-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Start offscreen */
  width: 250px;
  height: 100vh;
  background-color: #E84A27;
  transition: left 0.3s ease;
  z-index: 9999;
}
#menu-content {
  padding: 20px;
}
#menu-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.bar {
  width: 100%;
  height: 4px;
  background-color: #000;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}
#hamburger-menu.open {
  left: 0; /* Slide menu in */
}

#hamburger-menu.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

#hamburger-menu.open .bar:nth-child(2) {
  opacity: 0;
}

#hamburger-menu.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}







/* end */

header h1 {
  flex: 1 1 100%;
  margin: 0;
}

header a {
  text-decoration: none;
  color: white;
  margin-right: 1%;
}
header a:hover{
  text-decoration: underline;
}

h2:nth-child(2) {
  flex: 1 1 100%;
  margin-left: 1%;
}

.about {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #E84A27;
  border-radius: 5px;
  padding: 20px;
  /* margin-left: 0.5%;
  margin-right: 0.5%; */
}

.about p {
  order: 1;
  flex: 1 1 10%;
}

.about img {
  width: 20%;
  order: 2;
}

h2:nth-child(4) {
  flex: 1 1 100%;
  margin-left: 1%;
}

.team {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #E84A27;
  border-radius: 5px;
  padding: 15px;
  /* margin-left: 0.5%;
  margin-right: 0.5%; */
}

.team h3:nth-child(1) {
  flex: 1 1 100%;
  order: 1;
  margin-bottom: 1%;
  margin-top: 0px;

}

.fili {
  flex: 1 1 30%;
  width: 30%;
  border: 1px solid #E84A27;
  border-radius: 5px;
  order: 2;
  margin-left: 0;
}

.fili p:nth-child(1) {
  text-align: center;
}

.fili img {
  width: 75%;
  margin-left: 11%;
}

.fili p:nth-child(3) {
  text-align: center;
  color: rgb(88, 82, 82);
  margin-left: 5px;
  margin-right: 5px;
}
.kach{
  flex: 1 1 30%;
  width: 30%;
  border: 1px solid #E84A27;
  border-radius: 5px;
  order: 3;
  margin-left: 4%;
}
.kach p:nth-child(1){
  text-align: center;
}
.kach img{
  width: 75%;
  margin-left: 11%;
}
.kach p:nth-child(3){
  text-align: center;
  color: rgb(88, 82, 82);
  margin-left: 5px;
  margin-right: 5px;
}
.osos{
  flex: 1 1 30%;
  width: 30%;
  border: 1px solid #E84A27;
  border-radius: 5px;
  order: 4;
  margin-left: 4%;
}
.osos p:nth-child(1){
  text-align: center;
}
.osos img{
  width: 75%;
  margin-left: 11%;
}
.osos p:nth-child(3){
  text-align: center;
  color: rgb(88, 82, 82);
  margin-left: 5px;
  margin-right: 5px;
}
.team h3:nth-child(5){
  order: 5;
  flex: 1 1 100%;
  margin-bottom: 1%;
  margin-top: 1%;
}
.miron{
  flex: 1 1 30%;
  width: 30%;
  border: 1px solid #E84A27;
  border-radius: 5px;
  order: 6;
}
.miron p:nth-child(1){
  text-align: center;
}
.miron img{
  width: 75%;
  margin-left: 11%;
}
.miron p:nth-child(3), .miron p:nth-child(4){
  text-align: center;
  color: rgb(88, 82, 82);
  margin-left: 5px;
  margin-right: 5px;
}
.korobov{
  flex: 1 1 30%;
  width: 30%;
  border: 1px solid #E84A27;
  border-radius: 5px;
  order: 7;
  margin-left: 4%;
}
.korobov p:nth-child(1){
  text-align: center;
}
.korobov img{
  width: 75%;
  margin-left: 11%;
}
.korobov p:nth-child(3),.korobov p:nth-child(4){
  text-align: center;
  color: rgb(88, 82, 82);
  margin-left: 5px;
  margin-right: 5px;
}
.zhuk{
  flex: 1 1 30%;
  width: 30%;
  border: 1px solid #E84A27;
  border-radius: 5px;
  order: 8;
  margin-left: 4%;
}
.zhuk p:nth-child(1){
  text-align: center;
}
.zhuk img{
  width: 75%;
  margin-left: 11%;
}
.zhuk p:nth-child(3), .zhuk p:nth-child(4){
  text-align: center;
  color: rgb(88, 82, 82);
  margin-left: 5px;
  margin-right: 5px;
}
h2:nth-child(6){
  flex:1 1 100%;
  margin-left: 1%;
}
.projects{
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #E84A27;
  border-radius: 5px;
  padding: 20px;
  /* margin-left: 0.5%;
  margin-right: 0.5%; */
}
.proj1{
  border: 1px solid #E84A27;
  border-radius: 5px;
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
}
.proj1 h3:nth-child(1){
  flex: 1 1 100%;
  text-align: center;
}
.proj1 img{
  width: 25%;
  margin-left: 37%;
}
.proj1 p:nth-child(3){
  text-align: center;
  color: rgb(88, 82, 82);
  margin-left: 5px;
  margin-right: 5px;
}
.proj1 a{
  text-decoration: underline;
  color:black;
}
h2:nth-child(8){
  flex:1 1 100%;
  margin-left: 1%;
}
.contact{
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #E84A27;
  border-radius: 5px;
  padding: 15px;
  /* margin-left: 0.5%;
  margin-right: 0.5%; */
}
.contact p{
  flex: 1 1 100%;
  text-align: center;
  color: rgb(88, 82, 82);
}
.contact a{
  text-decoration: underline;
  color: rgb(88, 82, 82);
}
footer{
  flex: 1 1 100%;
  background-color: #E84A27;
  margin-top: 2%;
}
footer p{
  text-align: center;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover{
  border: 1px solid white;
  padding:5px ;
}