body{
    transition: 0.3s ease;
}
header nav{
    display: none;
}
header{
    flex: 1 1 100%;
    width: 100%;
    /* height: 100px; */
    height: auto;
    padding: 0%;
}
header h1{
    /* text-align: center; */
    flex: 1 1 40%;
    width: 40%;
    /* border: 1px solid; */
    padding-top: 5%;
}
header span{
    display: inline;
    cursor: pointer;
    font-size: 25pt;
    margin-top: 4%;
    margin-left: 2%;
}
header img{
    /* flex: 0 0 20%; */
    width: 20%;
    margin: 0;
}
h2:nth-child(3){
    flex: 1 1 100%;
    width: 100%;
    text-align: center;
}

.about{
    flex: 1 1 100%;
    width: 100%;
}
.about img{
    width: 35%;
}
h2:nth-child(5){
    flex: 1 1 100%;
    width: 100%;
    text-align: center;
}
.fili{
    flex: 1 1 30%;
    margin-left: 0;
}
.kach{
    flex: 1 1 30%;
}
.miron{
    flex: 1 1 40%;
    margin: 0;
}
.pol{
    /* flex: 1 1 10%; */
    width: 50%;
    /* margin-top: 5%; */
    margin: 3% auto auto auto;
}
.kor{
    flex: 1 1 40%;
}
/* ham */
.theme-toggle-ham{
    cursor: pointer;
}
.ham{
    visibility: visible;
    z-index: 100;
    background-color: rgba(88, 15, 240, 0.6);
    transition: left 0.3s ease;
}
.contentofmenu{
    margin: 10px;
}
.contentofmenu a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #e4e3e3;
    width: 100%;
    margin-top: 10px;
}
.bary{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.bar{
    width: 100%;
    height: 3px;
    background-color:#e4e3e3;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: 0.3s ease;
}
/* end */

/* js classes */
.open{
    left: 0;
}
.hidesign{
    visibility: hidden;
}
/* end */