.container{
    flex-flow: column wrap;
    padding: 5px;
    padding-right: 10px;
}
header{
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 100%;
    width: 100%;
    padding: 0;
}
header h1{
    flex: 1 1 100%;
    width: 100%;
}
header nav{
    flex: 1 1 100%;
    width: 100%;
}
h2:nth-child(2){
    flex: 1 1 100%;
    width: 100%;
    text-align: center;
    margin-left: 0;
}
.about{
    flex: 1 1 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    margin-left: 0;
    margin-right: 0;
}
.about h3:nth-child(1){
    text-align: center;
}
.about img:nth-child(2){
    width: 50%;
    margin-left: 20%;
}
.about h3:nth-child(4){
    text-align: center;
}
.about img:nth-child(5){
    width: 50%;
    margin-left: 20%;
    margin-bottom: 5%;
}
h2:nth-child(4){
    flex: 1 1 100%;
    width: 100%;
    margin-left: 0;
    text-align: center;
}
.developers{
    flex: 1 1 100%;
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.fili{
    flex: 1 1 100%;
    width: 100%;
    margin-left: 0;
    margin-bottom: 5%;
}
.kach{
    flex: 1 1 100%;
    width: 100%;
    margin-left: 0;
}
.miron{
    flex: 1 1 100%;
    width: 100%;
    margin-left: 0;
    margin-bottom: 5%;
}
.kor{
    flex: 1 1 100%;
    width: 100%;
    margin-left: 0;
    margin-bottom: 5%;
}
.pol{
    flex: 1 1 100%;
    width: 100%;
    margin-left: 0;
    margin-bottom: 5%;
}
footer{
    margin-top: 5%;
    flex: 1 1 100%;
    width: 100%;
    padding: 0;
}