body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2EFE9;
  background-image: url();  /*transaprent backgroung for bstu logio needed*/
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-flow: row wrap;
  /* width: 100%; */
  margin: 0;
  padding: 0;
}


header {
  display: flex;
  flex-flow: row wrap;
  background-color:rgba(88, 15, 240, 1);
  opacity: 0.4;
  color: #fff;
  padding: 20px;
  flex: 1 1 100%;
  width: 100%;
}
header span{
  display: none;
}
header nav a:nth-child(1){
  display: none;
}

header h1 {
  flex: 1 1 80%;
  /* margin: 0; */
  /* padding-left: 30%; */
  /* border: 1px solid; */
}

header nav {
  position: static;
  /* border: 1px solid; */
  flex: 1 1 10%;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

header nav a {
  text-align: center;
  display: inline-block;
  margin-bottom: 1%;
  flex: 1 1 60%;
  width: 60%;
  text-decoration: none;
  color: white;

  margin-right: 0;
}
header nav a:hover{
  border: 1px solid;
  /* text-decoration: underline; */
}


/* code for hamburger-menu here */
.ham{
  visibility: hidden;
  left: -250px;
  position: fixed;
}
/* end */


 h2:nth-child(3){
  flex: 1 1 100%;
  width: 100%;
  margin-left: 1%;
}
.about{
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
  width: 100%;
  margin-left: 1%;
  border: 1px solid #580ff0;
  border-radius: 5px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding:0.5%;
}
.about a{
  text-decoration: underline;
  color: rgb(75, 69, 69);
}
.about h3:nth-child(1){
  flex: 1 1 100%;
  width: 100%;
  order: 1;
  text-align: center;
}
.about p:nth-child(2){
  flex: 1 1 100%;
  width: 100%;
  order: 2;
}
.about img:nth-child(3){
  order: 3;
  width: 25%;
  margin-left: 37%;
}
.about h3:nth-child(4){
  flex: 1 1 100%;
  width: 100%;
  order: 4;
  text-align: center;
}
.about p:nth-child(5){
  order: 5;
  flex: 1 1 100%;
  width: 100%;
}
h2:nth-child(5){
  flex: 1 1 100%;
  width: 100%;
  margin-left: 1%;
}
.developers{
  border: 1px solid #580ff0;
  border-radius: 5px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2%;
  padding:0.5%;
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 2%;
}
.developers a{
  text-decoration: underline;
  color: black;
}
.developers a:hover{
  border: 1px solid black;
  padding: 10px;
}
.developers h3:nth-child(1){
  flex: 1 1 100%;
  text-align: center;
  /* margin-top: 2%; */
  margin-bottom: 2%;
}
.fili{
  /* flex:1 1 40%; */
  width: 40%;
  border: 1px solid #580ff0;
  border-radius: 5px;
  margin-left: 4.5%;
}
.fili p{
  text-align: center;
}
.fili p:nth-child(3), .fili p:nth-child(4){
  color: rgb(88, 82, 82);
}
.fili img{
  width: 75%;
  margin-left: 11%;
}
.kach{
  border: 1px solid #580ff0;
  border-radius: 5px;
  width: 40%;
  margin-left: 10%;
}
.kach p{
  text-align: center;
}
.kach p:nth-child(3), .kach p:nth-child(4){
  color: rgb(88, 82, 82) ;
}
.kach img{
  width: 75%;
  margin-left: 11%;
}
.developers h3:nth-child(4){
  flex: 1 1 100%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.miron{
  border: 1px solid #580ff0;
  border-radius: 5px;
  width: 30%;
  margin-left: 3%;
}
.miron p{
  text-align: center;
}
.miron p:nth-child(3), .miron p:nth-child(4){
  color:rgb(88, 82, 82) ;
}
.miron img{
  width: 65%;
  margin-left: 15%;
}
.kor{
  border: 1px solid #580ff0;
  border-radius: 5px;
  width: 30%;
  margin-left: 2%;

}
.kor p{
  text-align: center;
}
.kor p:nth-child(3), .kor p:nth-child(4){
  color: rgb(88, 82, 82);
}
.kor img{
  width: 65%;
  margin-left: 18%;
}
.pol{
  border: 1px solid #580ff0;
  border-radius: 5px;
  width: 30%;
  margin-left: 2%;
}
.pol p{
  text-align: center;
}
.pol p:nth-child(3), .pol p:nth-child(4){
  color: rgb(88, 82, 82);
}
.pol img{
  width: 65%;
  margin-left: 15%;
}
footer{

  flex: 1 1 100%;
  width: 100%;
  background-color: #580ff0;
  text-align: center;
  color: white;
  padding: 20px;
  opacity: 0.4;
  bottom: 0;
}
footer p{
  display: block;
  margin: 10px 0 10px 0;
}
footer p:nth-child(1){
  margin-bottom: 10px;
  text-align: center;
}
footer a{
  display: inline;
  text-decoration: none;
  color: white;
  padding: 5px;
}
footer a:hover{
  border: 1px solid white;
}